# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
coverage/
.pub-cache/
.pub/

# IDE
*.iml
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Dependencies
pubspec.lock

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Coverage
coverage/

# Executables
!/bin/cache/
/bin/cache/*
!/bin/cache/.gitkeep
